body{
    position: relative;
    font-family: 'Noto Sans'  , sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: 700vh;
}

.header{
    position: relative; /* to darken only the image and not the entire page */
    min-height: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* blackout picture */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}
/*  ********************** */
.header .row{
    min-height: 700px;
    display: flex;
    align-items: center;
}
.header-content{
    text-align: center;
    position: relative;
    z-index: 2;
    color: #fff;
}

.header-content h1{
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 10px;

}
.header-content h4{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 10px;
    opacity: 0.7;
    margin-bottom: 35px;
}

.btn-main{
    display: inline-block;
    padding: 10px 35px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: coral;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    color: #fff;
    transition: all 0.9s ease-out;
    }
    .btn-main:hover{
        box-shadow: 0 5px 10px rgba(255, 127, 80, .8);
        transform: scale(1.05);
    }